.restuarants-main-body {
  width: 80%;
  margin: auto;
}

.restuarants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  background: rgb(255, 255, 255);
  flex-grow: 1;
}
